In [1]:
# Dependencies

import csv
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from api_keys import api_key
from citipy import citipy

In [2]:
df = pd.read_csv('output_data/cities.csv')
df.head()

           city  latitude  temperature  humidity  cloudiness  wind_speed
0     busselton    -33.64         19.9        93          32        8.08
1     tuatapere    -46.13         12.0       100          92        1.83
2  punta arenas    -53.16          9.0        66          40       11.80
3         vaini     15.34         25.0        33           0        3.10
4        hobart    -42.88         20.0        45          20        5.70

In [3]:
df.shape

(554, 6)